<!DOCTYPE html>
<html lang="tw">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        <%if (redirect) { %>
        var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=<%-clientId%>';
            URL += '&redirect_uri=';
            URL += window.location.href;
            URL += '/notify/callback'
            URL += '&scope=notify';
            URL += '&state=<%-state%>';
            window.location.href = URL;
        <% } else { %>
            function oAuth2() {
                var URL = 'https://notify-bot.line.me/oauth/authorize?';
                URL += 'response_type=code';
                URL += '&client_id=<%-clientId%>';
                URL += '&redirect_uri=https://picachu-linebot-homeiot.herokuapp.com/notify/callback';
                URL += '&scope=notify';
                URL += '&state=';
                URL += document.getElementById("stateText").value;
                window.location.href = URL;
            }
            <% } %>
    </script>
</head>

<body>
    <%if (!redirect) { %>
        <form>
            請輸入文字：
            <input id="stateText" type="text" name="欄位名稱" value="<%-state%>">
        </form>
        <button onclick="oAuth2();"> 連結到 LineNotify 按鈕 </button>
    <% } %>
</body>

</html>